.logginContainer{
    height: 100px;
    width: 293px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 7px;
    text-align: center;
}

.logged-in{
    background-color: green;
}

.logged-out{
   background-color: red;
}

.loginMessage{
    padding-top: 1rem;
    color: white;
}